body {
    margin: 0;
    padding: 0;
    height: 5000px; /* Adjust this value to control overall scroll height */
}

#spacer {
    height: 100vh; /* This pushes the container below the fold */
}

#container {
    position: absolute;
    
        width: 800px;
        height: 800px;
    


    /* transition: transform 0.1s ease-out; */
}

#container.fixed {
    position: fixed;
    top: 0;
}